<a class="getstarted scrollto active" href="@Url.Action("GioHang",
"GioHang")" style="font-weight:bold; text-decoration:none">
    Giỏ hàng (@ViewBag.Tongsoluongsanpham)
</a>
@*
<div class="alert alert-danger">
    Không đủ số lượng!
</div>

<div class="alert alert-success">
    đặt hàng thành công!
</div>*@

